* {
  margin: 0;
  padding: 0; }

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #111;
  max-height: 1000vh;
  min-width: 1000px; }

h1, .titulos {
  color: white;
  font: Arial, Helvetica, sans-serif; }

h2 {
  color: white;
  font-size: 15px;
  text-align: left; }

.h3 {
  color: #b63535;
  text-align: center;
  font-size: 30px;
  margin-top: 0cm; }

.titulos {
  text-align: center;
  font-size: 40px;
  animation: text 2s 1; }

@keyframes text {
  0% {
    color: white;
    letter-spacing: 25px; } }

.navbar {
  font-size: 20px; }

li {
  display: inline-block;
  width: 10%;
  padding: 5px 10px;
  background-color: #aaa;
  border: 1px solid #000;
  text-align: center;
  color: black; }

li:hover {
  background-color: #fff;
  color: black; }

ul {
  list-style: none;
  font-size: 15;
  padding: 0cm;
  margin-top: 5%; }

a {
  font-size: 14px;
  text-align: center;
  color: #332121;
  background-color: aqua;
  padding: 10px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

/* header */
.grid-container {
  display: grid;
  grid-template-areas: 'header header header'  'main main main'  'left middle right'  'footer footer footer';
  grid-column-gap: 40px;
  grid-row-gap: 20px; }

.header {
  grid-area: header;
  background-color: #111;
  padding: 30px;
  text-align: center;
  font-size: 35px; }

.imglogo {
  width: 100px;
  height: 100px; }

.bordesredondeados {
  border-radius: 50px;
  width: max-content;
  height: auto;
  text-align: center;
  margin: auto;
  margin-top: 10px; }

p {
  line-height: 2;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center; }

.h2index {
  color: white;
  font-size: 40px;
  text-align: center; }

.tituloh3 {
  color: #b63535;
  text-align: center;
  font-size: 30px;
  margin-top: 0cm; }

/* cajas */
.contenedorcaja {
  display: grid;
  padding: 10px;
  max-height: 300px;
  margin-bottom: 50px;
  grid-template-columns: 33% 33% 33%;
  grid-column-gap: 80px;
  margin-left: 30px; }

.left, .middle, .right {
  background-color: #aaa;
  border-style: inset;
  border-color: black; }

.imagencaja {
  width: 170px;
  max-height: 160px;
  text-align: center;
  display: block;
  margin: auto;
  border-radius: 50px; }

.left:hover, .middle:hover, .right:hover {
  box-shadow: 8px 8px 10px #17C3B2; }

button {
  padding: 0.8em 1.8em;
  border: 2px solid #17C3B2;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: .3s;
  z-index: 1;
  font-family: inherit;
  color: #17C3B2; }

button::before {
  content: '';
  width: 0;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #17C3B2;
  transition: .5s ease;
  display: block;
  z-index: -1; }

button:hover::before {
  width: 100%; }

button:hover {
  color: black; }

footer {
  bottom: 0;
  right: 0;
  left: 0;
  background-color: black;
  height: auto;
  width: 100vw;
  font-family: "open sans";
  padding-top: 20px;
  color: white; }

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center; }

.footer-content h3 {
  font-size: 25px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem; }

.footer-content {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 15px; }

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3 rem 0; }

.socials .li-footer {
  margin: 0 10px;
  background-color: black; }

.socials a {
  text-decoration: none;
  color: white; }

.socials a i {
  font-size: 1.1rem;
  transition: color .4s ease; }

.socials a:hover i {
  color: aqua; }

.footer-bottom {
  background: black;
  width: 100vw;
  padding: 20px 0;
  text-align: center; }

.footer-bottom p {
  font-size: 15px;
  word-spacing: 2px;
  text-transform: capitalize; }

.footer-bottom span {
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200; }

/* pagina conoceme*/
.contenedordiv {
  margin-top: 5%;
  margin-bottom: 30%; }

.fotoconoceme {
  float: left;
  width: 500px;
  height: 430px;
  padding-right: 5%; }

.textoconoceme {
  color: #c1cdda;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  line-height: 200%; }

/* pagina servicios*/
.contenedorservicios {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: minmax(100px, auto);
  row-gap: 200px;
  column-gap: 10px;
  margin-top: 10%;
  margin-bottom: 10%; }

.imagenservicios {
  width: 500px;
  height: 300px;
  margin-left: 30px; }

.textoservicio {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  line-height: 180%;
  font-size: 20px;
  color: #c1cdda; }

/* pagina testimonios*/
.contenedortestimonios {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: minmax(100px, auto);
  gap: 1em;
  margin-top: 5%; }

.contenedortexto {
  margin-top: 5%;
  margin-bottom: 5%; }

.textoparrafo {
  text-align: center;
  font: 30px;
  color: #c1cdda; }

.imagentest {
  width: 50px;
  height: 50px;
  margin-top: 1%; }

.gridtextoparrafo2 {
  display: grid;
  grid-template-rows: 50px 50px 50px 50px; }

/* pagina contacto*/
.titulos {
  margin-bottom: 5%; }

.formulario-contacto {
  font-size: 15px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: #8de48d;
  margin-left: 5%; }

.enviar {
  margin-bottom: 20px; }

@media (min-width: 0px) and (max-width: 767px) {
  .navbar li {
    width: 50%; }
  .contenedorcaja {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 130px; }
  footer {
    width: 1100px; }
  .footer-content {
    margin-left: 5%; }
  .footer-bottom {
    display: inline-block;
    margin-left: 10%; }
  /*media testimonios*/
  .contenedortestimonios {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: minmax(100px, auto); }
  .contenedortexto {
    margin-bottom: 10%;
    margin-top: 10%; }
  /*media servicios*/
  .contenedorservicios {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: minmax(100px, auto);
    row-gap: 20px; }
  .imagenservicios {
    place-content: center;
    margin-left: 30%; }
  .textoservicio {
    margin-bottom: 20%; }
  /*media conoceme*/
  .contenedordiv {
    margin-top: 5%;
    margin-bottom: 20%;
    display: inline-block;
    margin-right: 20%; }
  .textoconoceme {
    font-size: 30px;
    text-align: center;
    display: inline-block;
    margin-top: 5%; }
  .fotoconoceme {
    margin-left: 15%; }
  li {
    width: 20%; } }
