
$color-titulo: rgb(255, 255, 255);
$color-de-fondo:  #111;
$color-contacto: rgb(141, 228, 141);
$color-de-parrafo: rgb(193, 205, 218);
$color-animacion: #17C3B2;
$color-titulo-secundario: rgb(182, 53, 53);
$color-cajas: #aaa;

$fuente-altura: 40px;
$fuente-altura-link: 15px;
$fuente-servicio: 20px;
$fuente-altura-footer: 25px;
$texto-altura: 30px;

$color-letra: white;
$color-link: #aaa;
$color-fondo-footer: black;
$color-letra-footer: rgb(20, 87, 87);
$color-redes:  aqua;

$fuente-principal-footer: 'open sans';
$letra-footer: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$fuente-titulo: Arial, Helvetica, sans-serif;
$fuente-secundaria: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$fuente-primaria:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$fuente-index: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

